/* purgecss start ignore */

@font-face {
  font-family: 'Eurostile';
  src: url('/static/fonts/EurostileLTStd.woff2') format('woff2'),
      url('/static/fonts/EurostileLTStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/static/fonts/EurostileLTStd-Demi.woff2') format('woff2'),
      url('/static/fonts/EurostileLTStd-Demi.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/static/fonts/EurostileLTStd-Bold.woff2') format('woff2'),
      url('/static/fonts/EurostileLTStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* purgecss end ignore */
