/* purgecss start ignore */

@font-face {
  font-family: 'Eurostile';
  src: url('/static/fonts/EurostileLTStd.woff2') format('woff2'),
      url('/static/fonts/EurostileLTStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/static/fonts/EurostileLTStd-Demi.woff2') format('woff2'),
      url('/static/fonts/EurostileLTStd-Demi.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/static/fonts/EurostileLTStd-Bold.woff2') format('woff2'),
      url('/static/fonts/EurostileLTStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

.resource-summary li {
  padding-left: 2rem;
}
.resource-summary li:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f55f';
  font-weight: 900;
  margin-right: 1rem;
  color: #44A141;
  margin-left: -2rem;
  width: 1rem;
}
.embed-container iframe {
  width: 100%;
  max-width: 100%;
}
.swiper-container {
  height: auto;
}

.persona-content {
  visibility: hidden;
  /* transition: all 0.5s ease-out; */
}

.services-description li  {
  padding-left: 2rem;
}
.services-description li:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f111';
  font-weight: 900;
  margin-right: 1rem;
  color: #fff;
  margin-left: -2rem;
  font-size: 0.5rem;
}

.magic-dots.slick-dots li.slick-active button:before {
  color: #44A141 !important;
}

.swiper-slide-active .persona-content {
  visibility: visible;
  /* transition: all 0.5s ease-in; */
}
/* purgecss end ignore */
