/* purgecss start ignore */

@tailwind base;

body {
  @apply antialiased overflow-x-hidden;
}

h1,h2,h3,h4,h5,h6 {
  @apply font-eurostile;
}

header {
  @apply fixed top-0 w-full z-20;
}

header nav {
  @apply mx-auto flex items-center justify-between flex-wrap;
}

p {
  @apply mb-4;
}

p:last-child {
  @apply mb-0;
}

footer {
  @apply w-full flex bg-black text-white py-12 px-4;
}

/* purgecss end ignore */


@tailwind components;

/* purgecss start ignore */

.hide {
  @apply hidden;
}
.transparent-nav {
  @apply bg-transparent pt-3;
}
.solid-nav {
  @apply bg-white shadow-md py-3;
}
.logo-container {
  @apply flex justify-between items-center flex-shrink-0;
}
.logo {
  @apply flex items-center;
}
.logo img {
  @apply w-24 ml-4;
}
.burger-container {
  @apply block pr-3;
}
.scroll-link {
  @apply block font-medium uppercase tracking-wider text-center py-3 font-eurostile;
}
.navlinks-container {
  @apply w-full;
}
.navlinks {
  @apply mt-6;
}
.vision {
  @apply w-full bg-cia-500 text-white py-12 px-4;
}
.vision-content h2, .segmentation-header, .team-header, .contact-header, .services-header, .tabs-header {
  @apply uppercase tracking-wide font-medium text-xl;
}
.vision-content {
  @apply ml-16 font-montserrat;
}
.about {
  @apply w-full bg-white py-12 px-4 ;
}
.about-content {
  @apply font-montserrat;
}
.about-subheader {
  @apply text-center text-cia-500 uppercase font-medium font-eurostile;
}
.about-header {
  @apply w-full text-center mb-6;
}
.about-header h2, .about-header h3, .wwd-header h2, .wwd-header h3 {
  @apply tracking-wide uppercase;
}
.about-header h2, .wwd-header h2 {
  @apply font-medium text-xl;
}
.about-header h3, .wwd-header h3 {
  @apply text-lg;
}
.about-header img, .wwd-header img {
  @apply w-12;
}
.speech-bubble {
  @apply border-4 border-cia-500 rounded-lg relative mb-6 p-6;
}
.triangle::before, .triangle::after {
  @apply hidden;
}
.callout {
  @apply uppercase leading-tight text-2xl font-eurostile;
}
.vision-column-left {
  @apply mb-12;
}
.vision-icon {
  @apply w-12 float-left;
}
.wwd {
  @apply w-full py-12 px-4;
}
.wwd-header {
  @apply w-full text-center text-white mb-6;
}
.wwd-content {
  @apply text-white font-montserrat;
}
.services-container {
  @apply relative pt-16 pb-12 bg-gray-200;
}
.services-container::after {
  @apply absolute top-0 left-0 right-0 bottom-0 z-0;
  content: '';
  background-color: rgba(255,255,255,0.8);
}
.service-column {
  @apply w-full px-3 mb-6 z-10 relative;
}
.services-description {
  @apply w-full text-white bg-black pl-6 py-6;
}
.service-body {
  @apply font-montserrat;
}
.service-title {
  @apply uppercase tracking-wide font-eurostile text-lg font-medium mb-2;
}
.services-header-container {
  @apply relative z-10;
}
.shield-icon {
  @apply hidden;
}
.tabs-container {
  @apply relative py-24 bg-white;
}
.react-tabs {
  @apply mt-12
}
.react-tabs__tab-list {
  @apply flex mb-0 !important;
}
.react-tabs__tab {
  @apply w-1/4 text-center bg-white bottom-0;
}
.tab-body {
  @apply pt-8 font-montserrat text-2xl text-white bg-cia-500;
}
.react-tabs__tab.react-tabs__tab--selected {
  @apply bg-cia-500;
}
.tab-title {
  @apply uppercase tracking-wide font-eurostile text-2xl font-medium text-gray-500;
}
.react-tabs__tab.react-tabs__tab--selected .tab-title {
  @apply text-white;
}
.tab-body ul {
  @apply pl-16 pb-8;
}
.tab-body li:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f00c';
  font-weight: 900;
  margin-right: 1rem;
  color: #D9D458;
  margin-left: -2rem;
  width: 1rem;
}
.tab-body li {
  @apply mb-4;
}
.segmentation {
  @apply w-full bg-white px-4 py-12;
}
.segmentation-subtext {
  @apply w-full text-center mb-6 font-montserrat;
}
.segmentation-profile {
  @apply w-full mb-4;
}
.segmentation-profile-header {
  @apply bg-black text-white uppercase text-center rounded-t-lg py-3 font-montserrat;
}
.segmentation-profile-body {
  @apply p-4 border-b border-l border-r rounded-b-lg font-montserrat;
}
.segmentation-profile-body li {
  padding-left: 2rem;
}
.segmentation-profile-body li:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f111';
  font-weight: 900;
  margin-right: 1rem;
  color: #44A141;
  margin-left: -2rem;
  font-size: 0.5rem;
}
.segmentation-profile:last-child {
  @apply mb-0;
}
.segmentation-header-container {
  @apply mb-6;
}
.segmentation-header-container, .team-header-container, .contact-header-container, .services-header-container, .tabs-header-container  {
  @apply w-full flex items-center justify-center;
}
.segmentation-header-container img, .team-header-container img, .contact-header-container img, .services-header-container img, .tabs-header-container img {
  @apply w-12 mr-3;
}
.persona-container {
  @apply pb-16;
}
.persona-container .img-container {
  @apply w-full relative;
}
.person-conntainer .img-container img {
  @apply w-full;
}
.persona-content {
  @apply absolute z-10 bottom-0 right-0 left-0 text-white font-montserrat py-3 px-6 text-center text-base;
  background-image: linear-gradient(transparent,black);
}
.team {
  @apply w-full bg-black text-white px-4 py-12;
}
.team-header-container {
  @apply mb-12;
}
.team-member {
  @apply w-full mb-12;
}
.team-member:last-child {
  @apply mb-0;
}
.team-photo {
  @apply w-32 rounded-full mx-auto mb-3;
}
.team-name {
  @apply font-bold text-center;
}
.team-title {
  @apply text-center font-montserrat;
}
.contact {
  @apply w-full bg-white text-black px-4 pt-12 pb-6;
}
.contact-header-container, .services-header-container {
  @apply mb-6;
}
.contact-column {
  @apply w-full text-center;
}
.contact-column-header {
  @apply text-cia-600 font-medium text-lg;
}
.contact-info {
  @apply text-lg mb-6 font-montserrat;
}
.contact-phone {
  @apply text-xl mb-6 font-montserrat;
}
.contact-image-text {
  @apply inline-block font-bold mb-3;
}
.contact-image {
  @apply h-20;
}
.footer-nav-container {
  @apply w-full;
}
.signup-container {
  @apply w-full text-center text-lg order-first mb-12 font-montserrat;
}
.footer-signup {
  @apply mx-auto;
}
.footer-signup-message {
  @apply text-base bg-cia-500 text-white p-3;
}
.signup-button {
  @apply bg-cia-500 py-3 text-white text-lg font-eurostile tracking-wide font-medium w-full rounded;
}
.footer-link {
  @apply uppercase tracking-wide float-left w-1/3 mb-1 font-eurostile;
}
.signup-input {
  @apply text-gray-800 w-full mb-2 appearance-none bg-white border-0 rounded py-3 px-6 text-base leading-normal;
}

.srv-validation-message {
  @apply text-sm text-red-500 mt-1;
}

/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */

@screen md {
  .slick-dots {
    bottom: 3rem;
  }
  .vision {
    @apply py-24 px-6 flex items-center;
  }
  .vision-column-right {
    @apply w-1/2 pl-6;
  }
  .vision-column-left {
    @apply w-1/2 pr-6 mb-0;
  }
  .about {
    @apply py-24;
  }
  .about-header {
    @apply mb-10;
  }
  .about-content {
    @apply w-7/12 ml-auto text-lg flex items-center;
  }
  .about-content ul {
    @apply pl-8;
  }
  .about-content li:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    font-weight: 900;
    margin-right: 1rem;
    color: #D9D458;
    margin-left: -2rem;
    width: 1rem;
  }
  .about-content li {
    @apply mb-4;
  }
  .speech-bubble-container {
    @apply w-4/12;
  }
  .callout {
    @apply text-3xl;
  }
  .triangle::before, .triangle::after {
    @apply block;
  }
  .wwd {
    @apply py-24;
  }
  .wwd-header {
    @apply w-4/12 flex justify-center items-center mb-0;
  }
  .wwd-header img {
    @apply w-12;
  }
  .wwd-content {
    @apply w-8/12 text-xl leading-snug;
  }
  .services-container {
    @apply py-20;
  }
  .service-column {
    @apply w-11/12 mx-auto;
  }
  .service {
    @apply flex;
  }
  .services-description {
    @apply w-3/4 pl-16;
  }
  .service-body {
    @apply text-lg;
  }
  .service-title {
    @apply text-xl;
  }
  .shield-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @apply ml-6 ml-4 block;
  }
  .icon-container {
    @apply w-1/4 flex-shrink-0 relative bg-white;
  }
  .icon-container:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 35px 30px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  .segmentation {
    @apply pt-20 pb-10;
  }
  .segmentation-profile {
    @apply w-1/2 px-3;
  }
  .persona-container {
    @apply pb-24;
  }
  .persona-content {
    @apply p-3;
  }
  .team-member {
    @apply w-1/3 mb-0;
  }
  .team-photo {
    @apply w-24;
  }
  .team {
    @apply py-24;
  }
  .contact {
    @apply py-24;
  }
  .contact-info {
    @apply mb-8;
  }
  .media {
    @apply mb-0;
  }
  .contact-header-container, .services-header-container {
    @apply mb-10;
  }
  .contact-column {
    @apply w-1/3 text-left pl-24;
  }
  .column-center {
    @apply px-3 border-l border-gray-300;
  }
  .column-right {
    @apply pl-3;
  }
  .contact-phone {
    @apply mb-0;
  }
  footer {
    @apply py-24;
  }
  .footer-nav-container {
    @apply w-1/2;
  }
  .signup-container {
    @apply w-1/2 text-xl order-last mb-0 pl-6;
  }
}

@screen lg {
  .burger-container {
    @apply hidden pr-0;
  }
  .scroll-link {
    @apply py-3 inline-block mx-3;
  }
  .navlinks-container {
    @apply flex items-center w-auto;
  }
  .navlinks {
    @apply mt-0 flex-grow;
  }
  .vision {
    @apply py-32 px-0;
  }
  .vision-column-right {
    @apply pl-12;
  }
  .vision-column-left {
    @apply pr-12;
  }
  .vision-icon {
    @apply w-16;
  }
  .vision-content {
    @apply ml-24;
  }
  .vision-content p {
    @apply text-xl;
  }
  .vision-content h2, .segmentation-header, .team-header, .contact-header, .services-header, .tabs-header {
    @apply text-3xl;
  }
  .about-header {
    @apply mb-12;
  }
  .about-header img {
    @apply w-16;
  }
  .about-header h2, .wwd-header h2 {
    @apply uppercase text-3xl tracking-wide font-medium;
  }
  .about-header h3, .wwd-header h3 {
    @apply uppercase text-2xl tracking-wide;
  }
  .about-content {
    @apply text-xl;
  }
  .speech-bubble {
    @apply pl-10 pr-6 py-8 mb-0;
  }
  .callout {
    @apply text-4xl;
  }
  .wwd-header img {
    @apply w-16;
  }
  .wwd-content {
    @apply w-7/12 ml-auto text-2xl;
  }
  .service-column {
    @apply w-1/2;
  }
  .service-title {
    @apply text-2xl;
  }
  .shield-icon {
    @apply ml-0;
  }
  .segmentation-profile {
    @apply w-1/4 px-3;
  }
  .segmentation {
    @apply pt-24 pb-12;
  }
  .persona-content {
    @apply p-6 text-lg
  }
  .contact-header-container, .services-header-container {
    @apply mb-12;
  }
  .column-center {
    @apply px-6;
  }
  .column-right {
    @apply pl-6;
  }
  .signup-container {
    @apply text-xl pl-0;
  }
  .footer-signup {
    @apply w-8/12;
  }
}

@screen xl {
  /* .transparent-nav {
    @apply pt-6;
  } */
  p {
    @apply mb-6;
  }
  .logo img {
    @apply w-40 ml-0;
  }
  .scroll-link {
    @apply py-4 text-lg ml-12 mr-0;
  }
  .vision {
    @apply py-24 px-0;
  }
  .vision-content p {
    @apply text-2xl;
  }
  .vision-content h2, .segmentation-header, .team-header, .contact-header, .services-header, .tabs-header {
    @apply text-4xl;
  }
  .about {
    @apply py-32;
  }
  .about-header {
    @apply mb-16;
  }
  .about-content {
    @apply text-2xl;
  }
  .speech-bubble {
    @apply px-12 py-10;
  }
  .callout {
    @apply text-5xl;
  }
  .wwd {
    @apply py-32;
  }
  .wwd-header img {
    @apply w-20;
  }
  .about-header h2, .wwd-header h2 {
    @apply text-4xl;
  }
  .about-header h3, .wwd-header h3 {
    @apply text-3xl;
  }
  .wwd-content {
    @apply text-3xl;
  }
  .shield-icon {
    @apply ml-4;
  }
  .segmentation {
    @apply pt-32 pb-16 px-0;
  }
  .segmentation-header-container {
    @apply mb-8;
  }
  .segmentation-header-container img, .team-header-container img, .contact-header-container img, .services-header-container img, .tabs-header-container img {
    @apply w-16 mr-6;
  }
  .segmentation-subtext {
    @apply text-2xl mb-8;
  }
  .segmentation-profile-header {
    @apply py-4;
  }
  .persona-container {
    @apply pb-24;
  }
  .persona-content {
    @apply px-12 py-8 text-2xl;
  }
  .team {
    @apply py-32 px-0;
  }
  .team-header-container {
    @apply mb-24;
  }
  .team-member {
    @apply w-1/3 mb-0;
  }
  .team-photo {
    @apply w-40 mb-6;
  }
  .team-name {
    @apply text-2xl mb-1;
  }
  .team-title {
    @apply text-xl;
  }
  .contact {
    @apply py-32 px-0;
  }
  .contact-header-container, .services-header-container {
    @apply mb-16;
  }
  .contact-column-header {
    @apply text-2xl;
  }
  .contact-phone {
    @apply text-3xl;
  }
  .contact-info {
    @apply text-2xl;
  }
  .column-center {
    @apply px-12;
  }
  .column-left {
    @apply pr-12;
  }
  .column-right {
    @apply pl-12;
  }
  footer {
    @apply py-32;
  }
  .signup-container {
    @apply text-2xl;
  }
  .footer-link {
    @apply text-xl;
  }
}

/* purgecss end ignore */
